<!DOCTYPE html>
    <html lang="en" xmlns:th="https://www.thymeleaf.org/">
        <head>
            <meta charset="UTF-8">
            <title>Title</title>
        </head>

        <body>

        <form action = 'hello' method = 'post'>
            <input type='text' name='name'>
            <select name='name1' method = 'post'>
                <option value=''>--Please choose an option--</option>
                <option value='english'>English</option>
                <option value='french'>French</option>
                <option value='hindi'>Hindi</option>
                <option value='telugu'>Telugu</option>
                <option value='marathi'>Marathi</option>
            </select>

            <input type =submit value='Greet Me'>
        </form>

        </body>

    </html>

